.numero1{
background-color: black;
height: 8rem;
}

.numero2{
    background-color: rgb(13, 0, 134);
    }

    .numero3{
        background-color: rgb(255, 0, 0);
        }

p{
    color: white;
    padding: 3px;
}

div{
    height: 5rem;
    width: auto;
    margin: 10px;
}

#div1{
    color: white;
    display: flex;
    align-items: center;
    padding: 3px;
}

#div2{
    color: white;
    display: flex;
    align-items: center;
    padding: 3px;
}

#div3{
    color: white;
    display: flex;
    align-items: center;
    padding: 3px;
}